# Config file for beyondx
# This is merged with exynos9820_defconfig on build

# TZDEV
# CONFIG_TZDEV_DEPLOY_OLD_TZAR is not set

# Touchscreen
CONFIG_TOUCHSCREEN_SEC_TS_Y771=y

# Camera
CONFIG_CAMERA_CIS_3M3_OBJ=y
CONFIG_CAMERA_CIS_IMX316_OBJ=y
CONFIG_CAMERA_BSS_V00X=y
CONFIG_CAMERA_CIS_IMX316_BUCK_USE=y

# Decon
CONFIG_EXYNOS_DSIM_DITHER=y
# CONFIG_SUPPORT_ISC_TUNE_TEST is not set

# Sound
CONFIG_SND_SOC_SAMSUNG_BEYOND_MADERA=y
CONFIG_SND_SOC_SAMSUNG_SYSFS_EARJACK=y
CONFIG_SND_SOC_SAMSUNG_ABOX_DRAM_SIZE=0x1C00000

# Extcon
CONFIG_EXTCON_MADERA=y
CONFIG_EXTCON_MADERA_INPUT_EVENT=y

# Vibrator
CONFIG_MOTOR_DRV_MAX77705=y
CONFIG_SEC_HAPTIC=y
# CONFIG_ANDROID_TIMED_OUTPUT is not set
# CONFIG_MOTOR_CS40L2X is not set

# Sensors
CONFIG_SENSORS_SSP_BEYOND=y
CONFIG_SENSORS_TCS3407=y

# Charging/Battery
CONFIG_BATTERY_SAMSUNG_DC=y
CONFIG_DIRECT_CHARGING=y
CONFIG_CHARGER_PCA9468=y
CONFIG_MAX77705_FW_PID03_SUPPORT=y
CONFIG_PDIC_PD30=y
CONFIG_COMBO_REDRIVER_PTN36502=y

# Modem
# CONFIG_SEC_SIPC_MODEM_IF is not set
CONFIG_SEC_MODEM_S5100=y
CONFIG_BOOT_DEVICE_SPI=y
CONFIG_LINK_POWER_MANAGEMENT=y
# CONFIG_LINK_POWER_MANAGEMENT_WITH_FSM is not set
CONFIG_LINK_DEVICE_PCIE=y
CONFIG_UMTS_MODEM_S5100=y
CONFIG_SEC_SIPC_DUAL_MODEM_IF=y
CONFIG_CP_PKTPROC_V2=y
CONFIG_MUIC_UART_SWITCH=y

# Radio
# CONFIG_MEDIA_RADIO_SUPPORT is not set
# CONFIG_RADIO_ADAPTERS is not set
# CONFIG_MEDIA_ATTACH is not set
# CONFIG_MEDIA_TUNER is not set