# Config file for d2s
# This is merged with exynos9820_defconfig on build

CONFIG_TZDEV_DEPLOY_OLD_TZAR=y
CONFIG_TOUCHSCREEN_SEC_TS_Y771_D=y
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9020=y
CONFIG_CAMERA_CIS_3M5_OBJ=y
CONFIG_CAMERA_CIS_IMX316_OBJ=y
CONFIG_CAMERA_CIS_IMX516_OBJ=y
CONFIG_CAMERA_DNS_V02=y
CONFIG_CAMERA_CIS_IMX316_BUCK_USE=y
CONFIG_EXYNOS_FREQ_HOP=y
CONFIG_AVOID_TSP_NOISE=y
CONFIG_SUPPORT_POC_SPI=y
CONFIG_DYNAMIC_FREQ=y
CONFIG_SND_SOC_SAMSUNG_D_MADERA=y
CONFIG_SND_SOC_SAMSUNG_ABOX_DRAM_SIZE=0x1E00000
CONFIG_SEC_ABC_HUB_COND_DAVINCI=y
CONFIG_BATTERY_SAMSUNG_DC=y
CONFIG_DIRECT_CHARGING=y
CONFIG_CHARGER_PCA9468=y
CONFIG_WIRELESS_CHARGER_MFC_S2MIW04=y
CONFIG_WIRELESS_CHARGER_HAL_MFC=y
CONFIG_WIRELESS_IC_PARAM=y
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_MAX77705_FW_PID03_SUPPORT=y
CONFIG_PDIC_PD30=y
CONFIG_COMBO_REDRIVER_PTN36502=y
CONFIG_SEC_SYSUP=y
CONFIG_VIB_NOTIFIER=y
CONFIG_SENSORS_SSP_TMD4907=y
CONFIG_SENSORS_SX9360=y
CONFIG_SENSORS_SSP_DAVINCI=y
CONFIG_SENSORS_SSP_PROX_LIGHT_DIFF=y
CONFIG_SENSORS_TCS3407=y
